<md-card *ngIf="!loading" class="push">
  <md-card-title>
    {{task.title}}
  </md-card-title>
  <md-card-subtitle>
    Created {{task.creationDate | date}} by @{{task.author}}
    <button md-icon-button
        [routerLink]="['/projects', this.projectAlias, 'backlog', task.id, 'edit']">
      <md-icon>edit</md-icon>
    </button>
  </md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <h3 class="push-bottom-none">{{comments.length}} comment(s)</h3>
    <md-list>
      <div *ngFor="let comment of comments; let last = last">
        <md-list-item>
          <md-icon md-list-avatar>face</md-icon>
          <h3 md-line class="tc-grey-500">@{{comment.author}} on {{comment.creationDate | date:'medium'}}</h3>
          <p md-line style="white-space: normal; color: black">
            {{comment.message}}
          </p>
        </md-list-item>
        <md-divider *ngIf="!last"></md-divider>
      </div>
    </md-list>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <div layout="row" layout-align="start center">
        <div>
          <button md-icon-button>
            <md-icon>attach_file</md-icon>
          </button>
        </div>
        <md-input-container class="push-left push-right" flex layout="row" floatPlaceholder="never">
          <textarea flex mdInput placeholder="Message" [(ngModel)]="message"></textarea>
        </md-input-container>
        <div>
          <button md-icon-button (click)="sendMessage()" [disabled]="sending">
            <md-icon>send</md-icon>
          </button>
        </div>
      </div>
  </md-card-actions>
</md-card>
