<md-card class="push">
  <md-card-content class="push-bottom-none">
    <td-dynamic-forms *ngIf="!loading" [elements]="formElements" form="formGroup">
    </td-dynamic-forms>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <div layout="row" class="push-sm">
      <button flex md-raised-button class="text-upper" [routerLink]="['/projects', projectAlias, 'backlog']">Cancel</button>
      <span style="margin: 5px"></span>
      <button flex md-raised-button color="accent" class="text-upper" (click)="save()">Save</button>
    </div>
  </md-card-actions>
</md-card>
