<td-layout>
  <td-navigation-drawer
      [name]="authService.user.username + ' <' + authService.user.fullName + '>'"
      [email]="authService.user.email">
    <app-menu></app-menu>
  </td-navigation-drawer>
  <td-layout-nav-list [sidenavWidth]="'257px'">
    <div td-sidenav-toolbar-content layout="row" flex>
      <div *ngIf="toolbarTitle">{{toolbarTitle}}</div>
      <span flex></span>
    </div>
    <md-nav-list td-sidenav-content>
      <ng-content select="[app-layout-sidenav]"></ng-content>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div>
        <div>{{toolbarSubtitle}}</div>
      </div>
      <span flex></span>
      <ng-content select="[app-layout-toolbar-actions]"></ng-content>
    </div>
    <md-sidenav-container fullscreen>
      <ng-content select="[app-layout-content]"></ng-content>
    </md-sidenav-container>
  </td-layout-nav-list>
</td-layout>
