<div class="app-page-modal">
  <md-card>
    <md-card-content>
      <h2>Welcome to Scrum Web!</h2>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Username" />
      </md-input-container>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Password" type="password" />
      </md-input-container>
      <p style="text-align: right">
        <button (click)="login()" class="app-button" md-raised-button color="accent">Sign in</button>
      </p>
    </md-card-content>
  </md-card>
</div>
